<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never" />
    <title>Vue.js Poster App</title>
    <link rel="icon" href="public/favicon.ico" type="image/x-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Montserrat" rel="stylesheet">
    <!-- CSS --><!-- ajax -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="public/style.css">
</head>
<body>
<div id="app" v-cloak>
    <div class="header">
        <h1>Vue.js IMGUR Poster APP</h1>
        <!-- Use .prevent stop page reload -->
        <div class="wrapper">
        <form class="searchbar" v-on:submit.prevent="onSubmit">
            <input id="search" v-model="newSearch" placeholder=" Search for Image ">
            <input id="submit" type="submit" value="Search" class="btn">
        </form>
        </div>
    </div>
    <div class="main">
        <div class="cart">
            <h2>Shopping Cart</h2>
            <!-- tran-group tag replace class
                v-bind:key="#" req -->
            <transition-group name="fade" tag="ul">
                <li class="cart-item" v-for="item in cart" v-bind:key="item.id">
                    <!-- vue.methods - addItem from cart.push -->
                    <div class="item-title">{{item.title}}</div>                    
                    <!-- if buying same item will update quantity -->
                    <span class="item-qty">{{item.price | currency}} x {{item.qty}}</span>
                    <button class="btn" v-on:click="inc(item)">+</button><button class="btn" v-on:click="dec(item)">-</button>
                </li>
            </transition-group>
            
            <!-- Use v-if cart > 0.length show total - else show empty cart -->
            <div v-if="cart.length">
                <!-- Vue.methods addItem.total -->
                <div>Total: {{total  | currency}}</div>
            </div>
            <!-- v-else from v-if cart = 0.length (same sibling) -->
            <div v-else class="empty-cart">
                <p>No items in cart</p>
            </div>
        </div>  
        <div class="products">
            <h2>Products</h2>
            <div class="search-results" v-if="!loading">
                <p>Found {{ results.length }} results for Search Term {{lastSearch}}.</p>
            </div>
            <div v-else>
                <transition name="fade" tag="div">
                    <p>Loading... <b>{{newSearch}}</b> ... results...</p>
                </transition>
            </div>
            <!-- Vue use (item in #) to call items in list 
                v-for (for loop)-->
            <div class="product wrapper" v-for="(item, index) in items">
            <!-- tran-group tag replace class
                v-bind:key="#" req -->
                <div>
                    <div class="product-image">
                        <img v-bind:src="item.link">
                    </div>
                    <h4 class="product-title">{{ item.title }}</h4>
                        <p>Price: <strong>{{ price | currency }}</strong></p>
                    <button v-on:click="addItem(index)" class="btn add-to-cart">Add to cart</button>
                </div>
            </div> <!-- End product -->
        <div id="product-list-bottom">
            <div v-if="noMoreItems"> End of Images</div>
        </div>
        </div> <!-- End Products  -->
    </div>
</div>

<!-- Scripts -->
<!-- Live reload -->
<script src="reload/reload.js"></script>
<!-- Vue js -->
<script src="node_modules/vue/dist/vue.js"></script>
<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
<script src="node_modules/scrollmonitor/scrollMonitor.js"></script>
<script type="text/javascript" src="public/script.js"></script>

</body>
</html>
